<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trang cá nhân | USSH-VNUHCM</title>
    <link href="/Asset/IMG/Logo USSH.jpg" rel="icon" />
   
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/bootstrap-5.3.2-dist/css/bootstrap.min.css"
    />
    <!-- Main CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="./Asset/CSS/css/main.css" /> -->
    <!-- Font-icon css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/4ced78dcc2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/all.css">
    <!-- Admin CSS -->
    <link rel="stylesheet" href="/Asset/CSS/mainUSSH.css" />
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <img
          class="app-sidebar__user-avatar"
          src="/Asset/IMG/610_TVTT.png"
          alt="User Image"
        />
        <div>
          <b class="app-sidebar__user-name">Khoa thư viện thông tin học</b>
          <p class="app-sidebar__user-designation">Quản lý hoạt động NCKH</p>
        </div>
      </div>
      <ul class="app-menu">
        <li>
          <a class="app-menu__item active" href="trangchu.html">
            <i class="app-menu__icon fa-solid fa-house"></i>
            <span class="app-menu__label">Trang cá nhân</span></a
          >
        </li>
        <li class="treeview">
          <a class="app-menu__item" href="#" data-toggle="treeview"
            ><i class="app-menu__icon bi bi-laptop"></i
            ><span class="app-menu__label">Đề tài</span
            ><i class="treeview-indicator bi bi-chevron-right"></i
          ></a>
          <ul class="treeview-menu">
            <li>
              <a class="treeview-item" href="dk-de-tai.html"
                ><i class="icon bi bi-circle-fill"></i> Đăng ký đề tài</a
              >
            </li>
            <li>
              <a class="treeview-item" href="Ds-de-tai.html"
                ><i class="icon bi bi-circle-fill"></i> Danh sách đề tài</a
              >
            </li>
            <li>
              <a class="treeview-item" href="gia-han-de-tai.html"
                ><i class="icon bi bi-circle-fill"></i> Gia hạn đề tài</a
              >
            </li>
            <li>
              <a class="treeview-item" href="huy-de-tai.html"
                ><i class="icon bi bi-circle-fill"></i> Hủy đề tài</a
              >
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a class="app-menu__item" href="#" data-toggle="treeview"
            ><i class="app-menu__icon bi bi-ui-checks"></i
            ><span class="app-menu__label">Xem và đánh giá</span
            ><i class="treeview-indicator bi bi-chevron-right"></i
          ></a>
          <ul class="treeview-menu">
            <li>
              <a class="treeview-item" href="form-components.html"
                ><i class="icon bi bi-circle-fill"></i> Điểm đề cương</a
              >
            </li>
            <li>
              <a class="treeview-item" href="form-samples.html"
                ><i class="icon bi bi-circle-fill"></i> Điểm đề tài</a
              >
            </li>
            <li>
              <a class="treeview-item" href="form-samples.html"
                ><i class="icon bi bi-circle-fill"></i> Nhận xét của giảng
                viên</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </aside>
   
    <!-- Essential javascripts for application to work-->
    <script src="/Asset/JS/jquery-3.7.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="./bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script> -->
    <script src="/Asset/JS/user.js"></script>
    <!-- Page specific javascripts-->
    <script
      type="text/javascript"
      src="/Asset/JS/js/plugins/chart.js"
    ></script>
    
  </body>
</html>
