<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trang cá nhân | USSH-VNUHCM</title>
    <link href="/Asset/IMG/Logo USSH.jpg" rel="icon" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <!-- Main CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="./Asset/CSS/css/main.css" /> -->
    <!-- Font-icon css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/4ced78dcc2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/fontawesome-free-6.4.2-web/css/all.css" />
    <link rel="stylesheet" href="/Asset/CSS/smart_tab_elite.css" />
    <!-- Admin CSS -->
    <link rel="stylesheet" href="/Asset/CSS/mainUSSH.css" />
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header">
      <!-- Sidebar toggle button-->
      <a
        class="app-sidebar__toggle"
        href="#"
        data-toggle="sidebar"
        aria-label="Hide Sidebar"
        ><i class="icon fa-solid fa-bars fs-5"></i
      ></a>
      <!-- <div class="title-header">
        <h5><i class="bi bi-book-half"></i> HỆ THỐNG QUẢN LÝ ĐỀ TÀI</h5>
      </div> -->
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <li class="app-search">
          <input
            class="app-search__input"
            type="search"
            placeholder="Tìm kiếm"
          />
          <button class="app-search__button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </li>
        <!--Notification Menu-->
        <li class="dropdown">
          <a
            class="app-nav__item"
            href="#"
            data-bs-toggle="dropdown"
            aria-label="Show notifications"
            ><i class="fa-regular fa-bell fs-5"></i
          ></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">
              You have 4 new notifications.
            </li>
            <div class="app-notification__content">
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-envelope fs-4 text-primary"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Lisa sent you a mail
                    </p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a
                >
              </li>
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-exclamation-triangle fs-4 text-warning"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Mail server not working
                    </p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a
                >
              </li>
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-cash fs-4 text-success"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Transaction complete
                    </p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a
                >
              </li>
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-envelope fs-4 text-primary"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Lisa sent you a mail
                    </p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a
                >
              </li>
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-exclamation-triangle fs-4 text-warning"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Mail server not working
                    </p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a
                >
              </li>
              <li>
                <a class="app-notification__item" href="javascript:;"
                  ><span class="app-notification__icon"
                    ><i class="bi bi-cash fs-4 text-success"></i
                  ></span>
                  <div>
                    <p class="app-notification__message">
                      Transaction complete
                    </p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a
                >
              </li>
            </div>
            <li class="app-notification__footer">
              <a href="#">See all notifications.</a>
            </li>
          </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown">
          <a
            class="app-nav__item"
            href="#"
            data-bs-toggle="dropdown"
            aria-label="Open Profile Menu"
            ><i class="fa-regular fa-user fs-5"></i
          ></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li>
              <a class="dropdown-item" href="page-user.html"
                ><i class="bi bi-gear me-2 fs-5"></i> Settings</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="page-user.html"
                ><i class="bi bi-person me-2 fs-5"></i> Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="page-login.html"
                ><i class="bi bi-box-arrow-right me-2 fs-5"></i> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-header__logo">
        <img
          class="app-header__logo-avatar"
          src="/Asset/IMG/610_TVTT.png"
          alt="User Image"
        />
        <div>
          <b class="app-header__logo-name">Khoa thư viện thông tin học</b>
          <p class="app-header__logo-designation">Quản lý hoạt động NCKH</p>
        </div>
      </div>
      <ul class="app-menu">
        <li>
          <a class="app-menu__item" href="#">
            <i class="app-menu__icon fa-solid fa-house"></i>
            <span class="app-menu__label">Trang chủ</span></a
          >
        </li>
        <li class="my-md-3">
          <span class="app-sidebar-title fw-semibold">ĐỀ TÀI</span>
        </li>
        <li>
          <a class="app-menu__item ps-4 " href="#">
            <i class="app-menu__icon fa-solid fa-list"></i>
            <span class="app-menu__label">Danh mục đề tài</span></a
          >
          <a class="app-menu__item ps-4" href="quan-ly-de-tai.html">
            <i class="app-menu__icon fa-solid fa-folder-open"></i>
            <span class="app-menu__label">Đăng ký</span></a
          >
          <a class="app-menu__item ps-4 active" href="trangchu1.html">
            <i class="app-menu__icon fa-solid fa-file"></i>
            <span class="app-menu__label">Quản lý đề tài</span></a
          >
        </li>
        <li class="my-md-3">
          <span class="app-sidebar-title fw-semibold">ĐÁNH GIÁ</span>
        </li>
        <li>
          <a class="app-menu__item ps-4" href="#">
            <i class="app-menu__icon fa-solid fa-list"></i>
            <span class="app-menu__label">Nhận xét của giảng viên</span></a
          >
          <a class="app-menu__item ps-4" href="#">
            <i class="app-menu__icon fa-solid fa-folder-open"></i>
            <span class="app-menu__label">Điểm đề tài</span></a
          >
        </li>
        <li class="my-md-2">
          <span class="app-sidebar-title fw-semibold">TÀI KHOẢN</span>
        </li>
        <li>
          <a class="app-menu__item ps-4" href="#">
            <i class="app-menu__icon fa-solid fa-user"></i>
            <span class="app-menu__label">Thông tin tài khoản</span></a
          >
        </li>
      </ul>

      <div class="app-footer__user">
        <img
          class="app-footer__user-avatar"
          src="/Asset/IMG/PNGH.jpg"
          alt="User Image"
        />
        <div>
          <b class="app-footer__user-name">Phạm Ngọc Gia Hân</b>
          <p class="app-footer__user-designation">Sinh viên</p>
        </div>
        <button class="log-out__icon">
          <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
        </button>
      </div>
    </aside>
    <main class="app-content">
      <div class="app-project">
        <div class="row">
          <div class="project-panel">
            <div class="panel-title">
              <b class="panel-heading">Quản lý đề tài</b>
              <p class="panel-subtitle">
                Danh sách đề tài mà sinh viên đã đăng ký và sinh viên đang thực
                hiện
              </p>
              <div class="clearfix"></div>
            </div>
            <div id="smarttab">
              <ul class="nav">
                <li>
                  <a class="nav-link" href="#tab-1">
                    <span>Đang đăng ký</span>
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="#tab-2">
                  <span>Đang thực hiện</span>
                  </a>
                </li>
              </ul>

              <div class="tab-content">
                <div id="tab-1" class="tab-pane" role="tabpanel">
                  <div class="header_table">
                    <div class="table_check-box">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                    <div class="cell-stt">
                      <span class="text-header_cell">STT</span>
                    </div>
                    <div class="cell-ttv">
                      <span class="text-header_cell">Tên tiếng việt</span>
                    </div>
                    <div class="cell-tta">
                      <span class="text-header_cell">Tên tiếng anh</span>
                    </div>
                    <div class="cell-cn">
                      <span class="text-header_cell">Chủ nhiệm</span>
                    </div>
                    <div class="cell-time">
                      <span class="text-header_cell">Thời gian thực hiện</span>
                    </div>
                    <div class="cell-action">
                      <span class="text-header_cell">Thao tác</span>
                    </div>
                  </div>
                  <div class="body-table">
                    <div class="table_check-box">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                    <div class="cell-stt">
                      <span class="text-body_stt">01</span>
                    </div>
                    <div class="cell-ttv">
                      <span class="text-body_ttv"
                        >Kỹ năng xử lý thông tin trên mạng xã hội Facebook của
                        sinh viên trường đại học Khoa học xã hội và Nhân
                        văn</span
                      >
                    </div>
                    <div class="cell-tta">
                      <span class="text-body_tta"
                        >Information processing skills on the social network
                        Facebook of students at the University of Social
                        Sciences and Humanities</span
                      >
                    </div>
                    <div class="cell-cn">
                      <span class="text-body_cn">Phạm Ngọc Gia Hân</span>
                    </div>
                    <div class="cell-time">
                      <span class="text-body_time"
                        >01/10/2023 - 23/01/2024</span
                      >
                    </div>
                    <div class="cell-action">
                      <div class="icon-action">
                        <button class="btn-sua btn-xs">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn-xoa btn-xs">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="pagination">
                    <button class="button" id="startBtn" disabled>
                      <i class="fa-solid fa-angles-left"></i>
                    </button>
                    <button class="button prevNext" id="prev" disabled>
                      <i class="fa-solid fa-angle-left"></i>
                    </button>

                    <div class="number_links">
                      <a href="#" class="link active">1</a>
                      <a href="#" class="link">2</a>
                      <a href="#" class="link">3</a>
                      <a href="#" class="link">4</a>
                      <a href="#" class="link">5</a>
                    </div>

                    <button class="button prevNext" id="next">
                      <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <button class="button" id="endBtn">
                      <i class="fa-solid fa-angles-right"></i>
                    </button>
                  </div>
                </div>
                <div id="tab-2" class="tab-pane" role="tabpanel">
                  <div class="header_table">
                    <div class="table_check-box">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                    <div class="cell-stt">
                      <span class="text-header_cell">STT</span>
                    </div>
                    <div class="cell-ttv">
                      <span class="text-header_cell">Tên tiếng việt</span>
                    </div>
                    <div class="cell-tta">
                      <span class="text-header_cell">Tên tiếng anh</span>
                    </div>
                    <div class="cell-cn">
                      <span class="text-header_cell">Chủ nhiệm</span>
                    </div>
                    <div class="cell-time">
                      <span class="text-header_cell">Thời gian thực hiện</span>
                    </div>
                    <div class="cell-action">
                      <span class="text-header_cell">Thao tác</span>
                    </div>
                  </div>
                  <div class="body-table">
                    <div class="table_check-box">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                    <div class="cell-stt">
                      <span class="text-body_stt">01</span>
                    </div>
                    <div class="cell-ttv">
                      <span class="text-body_ttv"
                        >Kỹ năng xử lý thông tin trên mạng xã hội Facebook của
                        sinh viên trường đại học Khoa học xã hội và Nhân
                        văn</span
                      >
                    </div>
                    <div class="cell-tta">
                      <span class="text-body_tta"
                        >Information processing skills on the social network
                        Facebook of students at the University of Social
                        Sciences and Humanities</span
                      >
                    </div>
                    <div class="cell-cn">
                      <span class="text-body_cn">Phạm Ngọc Gia Hân</span>
                    </div>
                    <div class="cell-time">
                      <span class="text-body_time"
                        >01/10/2023 - 23/01/2024</span
                      >
                    </div>
                    <div class="cell-action">
                      <div class="icon-action">
                        <button class="btn-sua btn-xs">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn-xoa btn-xs">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="pagination">
                    <button class="button" id="startBtn" disabled>
                      <i class="fa-solid fa-angles-left"></i>
                    </button>
                    <button class="button prevNext" id="prev" disabled>
                      <i class="fa-solid fa-angle-left"></i>
                    </button>

                    <div class="number_links">
                      <a href="#" class="link active">1</a>
                      <a href="#" class="link">2</a>
                      <a href="#" class="link">3</a>
                      <a href="#" class="link">4</a>
                      <a href="#" class="link">5</a>
                    </div>

                    <button class="button prevNext" id="next">
                      <i class="fa-solid fa-angle-right"></i>
                    </button>
                    <button class="button" id="endBtn">
                      <i class="fa-solid fa-angles-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="/Asset/JS/jquery-3.7.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
    />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      new DataTable("#example");
    </script>
    <!-- <script src="./bootstrap-5.2.3-dist/js/bootstrap.bundle.js"></script> -->
    <script src="/Asset/JS/user.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="/Asset/JS/js/plugins/chart.js"></script>
    <script src="/Asset/JS/js/jquery.smartTab.min.js"></script>
    <script>
      $(function () {
        // SmartTab initialize
        $("#smarttab").smartTab();
      });
    </script>
  </body>
</html>
