.card-grouptv {
  display: flex;
  margin-bottom: 8px;
}
.ttv1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.add-member-btn {
  border: none;
  margin: 0 0 8px 8px;
  background-color: #ffffff;
  font-size: 20px;
}
.log-out__icon {
  border: none;
  margin: 0 0 8px 10px;
  background-color: #ffffff;
  
  font-size: 20px;
}
.delete-member-btn {
  border: none;
  margin: 0 0 8px 8px;
  background-color: #ffffff;
  color: #ff0000;
  font-size: 20px;
}

.input-group .info-ht,
.input-group .info-mssv,
.input-group .info-khoa,
.input-group .info-email {
  margin-bottom: 10px;
}
.input-group-show .info-ht,
.input-group-show .info-mssv,
.input-group-show .info-khoa,
.input-group-show .info-email {
  margin-bottom: 10px;
  margin-right: 20px;
}

.app-project {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #ffffff;
  border: 3px solid #F8F9FA;
  padding: 20px;
  border-radius: 8px;
}

.project-panel {
  
}
.panel-title {

}

.panel-heading {
  font-size: 28px;
  margin-bottom: 5px;
}

.panel-subtitle {
  font-size: 14px;
  color: #888;
}

.tab-header,
.tab-body {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 10px;
}
.tab-header {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 3;
  align-items: center;
}
.tab {
  width: 15%;
  text-align: center;
  padding: 15px 0px;
  color: #2c3e50;
  font-size: 14px;
  cursor: pointer;
}
.tab.active-tab {
  color: #fe5401;
}
.tab-indicator {
  height: 40px;
  margin-top: -58px;
  position: relative;
}
.tab-indicator div {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px 4px 4px 0px;
  padding: 8px 16px;
  transition: all 300ms ease-in-out;
  border: 1px solid #ddd;
  border-bottom: none;
  z-index: 2;
}

.tab-body {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
  
  padding: 16px 10px;
  /* border-radius: 8px; */
}

.tab-content {
  display: none;
}

.tab-content.active-tab-content {
  border: 1px solid #ddd;
  display: block;
  border-radius: 8px;

}

.header_table {
  /* background-color: rgba(255, 255, 255, 0); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  background-color: #e9ecef;
  border-radius: 8px 8px 0 0;
}
.body-table {
  align-self: stretch;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  margin-bottom: 10px;
}

.text-header_cell {
  font-weight: bold;
  position: relative;
}

.table_check-box {
  font-size: 15px;
  align-self: stretch;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cell-stt {
  background-color: rgba(255, 255, 255, 0);
  width: 5%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 9px;
  box-sizing: border-box;
}

.cell-ttv,
.cell-tta {
  position: relative;
  align-self: stretch;
  width: 25%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 9px;
  box-sizing: border-box;
}
.cell-time {
  position: relative;
  align-self: stretch;
  width: 20%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 9px;
  box-sizing: border-box;
}
.cell-cn {
  position: relative;
  align-self: stretch;
  width: 15%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 9px;
  box-sizing: border-box;
}
.cell-action {
  position: relative;
  align-self: stretch;
  width: 10%;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px 9px;
  box-sizing: border-box;
}
.icon-action {
  position: relative;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
@media (max-width: 768px) {
  .icon-action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* CSS cho các nút chỉnh sửa */
.btn-xs {
  border: none;
  
  background-color: #ffffff;
  font-size: 15px;
}
.btn-sua {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  color: #0DCAF0;
}
.btn-xoa {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  color: #DC3545;
}

.project-name,
.project-name-en,
.project-leader,
.project-duration {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix {
  clear: both;
}



.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.error-message {
  color: red;
  font-size: 12px;
}
.member-group {
  margin-bottom: 10px;
}
.member-group:not(:first-child) .input-group-text {
  display: none;
}
.border-0:focus {
  box-shadow: none;
}
.required-star {
  font-weight: 900;
  color: red;
}
.indent-label {
  margin-left: 5px;
}
.list-disc {
  list-style-type: disc !important;
}
.title-tv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.title-tv .ht,
.title-tv .mssv,
.title-tv .khoa {
  border: 1px solid black;
  width: 100%;
}
.title-tv .ht h6,
.title-tv .mssv h6,
.title-tv .khoa h6 {
  margin-bottom: 10px;
  margin-left: 5px;
}
.card-body .form-table {
  overflow-x: auto;
}
.card-body .form-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
thead,
th {
  background-color: #f8f9fa;
}
th,
td {
  border: 1px solid #ddd;
  padding: 5px;
}
.field {
  margin: 0 !important;
}
.float {
  position: sticky;
  top: 0;
  right: -1px;
  z-index: 2;
}
.td.float {
  background-color: #fff;
}
.detail-info-project-proposal,
.detail-info-project-proposal .form-check-label {
  font-family: "Times New Roman", Times, serif !important;
}

.detail-info-project-proposal h4 {
  color: blue;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 7px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* pagination */
.pagination,
.button,
.number_links,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 0;
  padding: 0px;
  border-radius: 8px;
  column-gap: 12px;
  padding: 12px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .pagination {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.button {
  border: none;
}
.button i {
  pointer-events: none;
}
.button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}
.button,
.link {
  height: 30px;
  width: 30px;
  font-size: 12px;
  color: #fe5401;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.number_links {
  column-gap: 12px;
}
.link {
  font-weight: 500;
  text-decoration: none;
}
.button:hover,
.link:hover {
  color: #fff;
  background: #fe5401;
}
.link.active {
  color: #fff;
  background: #fe5401;
}
/* pagination */
/* Begin-Multi-Step */
.app-step {
  
}
/* End-Multi-Step */
