body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  #inputStep1Value {
    margin-bottom: 10px;
  }
  
  #inputStep1File a {
    color: blue;
    text-decoration: underline;
  }